@import "config.scss";
/* =======================
          POSTER
========================== */
.poster,
.poster--large {
  flex-shrink: 0;
  width: 44vw;
  height: auto;
  margin-right: 1vw;
  border-radius: 5px;
  transition: transform 450ms;
  @include bigPhone {
    width: 30vw;
  }
  @include ipad {
    width: 24vw;
    margin-right: 13px;
  }
  @include largeDesktop {
    width: 18vw;
  }
  @include extraLargeDesktop {
    width: 15vw;
  }
}

.poster:hover {
  transform: scale(1.08);
}

.poster--large:hover {
  transform: scale(1.05);
}
