@import "config.scss";
/* =======================
          POSTER
========================== */
.poster {
  flex-shrink: 0;
  width: 22vw;
  height: auto;
  margin-right: 1vw;
  border-radius: 5px;
  transition: transform 450ms;
  @include desktop {
    margin-right: 13px;
    max-width: 330px;
  }
}

.poster:hover {
  transform: scale(1.08);
}

.poster__large {
  width: 20vw;
  height: auto;
  @include desktop {
    max-width: 270px;
  }
}

.poster__large:hover {
  transform: scale(1.09);
}
