@import "config.scss";
/* =======================
           ROW
========================== */
.row {
  position: relative;
  padding: 0 0 1.5vw 2vw;
  overflow-x: visible;
  @include desktop {
    padding: 0 0 15px 20px;
  }

  &__title {
    margin-left: 2vw;
    font-size: 2.8vw;
    color: #fff;
    @include desktop {
      margin-left: 20px;
      font-size: 1.6rem;
    }
  }

  &__posters {
    display: flex;
    padding: 2vw;
    overflow-y: hidden;
    overflow-x: scroll;
    transition: margin 0.5s ease;
    scrollbar-width: none;
    @include desktop {
      padding: 20px;
    }
  }

  &__posters:hover .row__previousMovie,
  &__posters:hover .row__nextMovie {
    opacity: 1;
    transition: opacity 0.5s;
  }

  &__posters::-webkit-scrollbar {
    display: none;
  }

  &__previousMovie,
  &__nextMovie {
    display: none;
    @include ipad {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 60px;
      z-index: 1;
      background: transparent;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.5s;
    }

    i {
      font-size: 3vw;
      transition: transform 0.4s;
      cursor: pointer;
      @include desktop {
        font-size: 1.7rem;
      }
    }

    i:hover {
      transform: scale(1.25);
      transition: transform 0.4s;
    }
  }

  &__nextMovie {
    right: 0;
  }

  &__previousMovie {
    left: 0;
  }

  &__previousMovie:hover,
  &__nextMovie:hover {
    background: rgba(20, 20, 20, 0.5);
    cursor: pointer;
    transition: background 0.5s;
  }
}

.row:last-child {
  margin-bottom: 0;
}
