@import "config.scss";
/* =======================
           ROW
========================== */
.row {
  position: relative;
  padding: 0 0 3vw 2vw;
  overflow-x: visible;
  @include desktop {
    padding: 0 0 15px 20px;
  }

  &__title {
    position: relative;
    z-index: 50;
    margin-left: 2vw;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #fff;
    @include ipad {
      font-size: 1.7vw;
    }
    @include desktop {
      margin-left: 20px;
      font-size: 1.6vw;
    }
    @include largeDesktop {
      font-size: 1.1rem;
    }
  }

  &__posters {
    display: flex;
    padding: 1vw 2vw 2vw;
    overflow-y: hidden;
    overflow-x: scroll;
    transition: margin 0.5s ease;
    scrollbar-width: none;
    @include ipad {
      padding-top: 7px;
    }
    @include desktop {
      padding: 7px 20px 20px;
    }

    .row__previousMovie,
    .row__nextMovie {
      display: none;
      @include ipad {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: 50px;
        background: transparent;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s;
      }

      i {
        cursor: pointer;
        font-size: 2.7vw;
        transition: transform 0.4s;
        @include desktop {
          font-size: 1.7rem;
        }
      }

      i:hover {
        transform: scale(1.25);
        transition: transform 0.4s;
      }
    }

    .row__nextMovie {
      right: 0;
    }

    .row__previousMovie {
      left: 0;
    }

    .row__previousMovie:hover,
    .row__nextMovie:hover {
      cursor: pointer;
      background: rgba(20, 20, 20, 0.5);
      transition: background 0.5s;
    }
  }

  &__posters:hover .row__previousMovie,
  &__posters:hover .row__nextMovie {
    opacity: 1;
    transition: opacity 0.5s;
  }

  &__posters::-webkit-scrollbar {
    display: none;
  }
}

.row:last-child {
  margin-bottom: 0;
}
